body {
    background: rgb(2, 5, 43);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

h1 {
    display: none;
}

.hidden {
    display: none;
}

select,
option {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 0 1em;
}

select {
    border: none;
    outline: none;
}


h2 {
    color: white;
    font-size: 2rem;
    width: fit-content;
    &::after{
        content: '';
        display: block;
        width: 120%;
        height: 3px;
        background-color: rgb(0, 60, 255);
        margin-top: 10px;
        transition: 0.5s;
    }
    &:hover::after{
        width: 130%;
    }
}

main {
    padding: 0 3em;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    
}

.cabecalho__logo {
    display: flex;
    gap: 1em;
}

.cabecalho__logo img {
    width: 150px;
    height: 50px;
}

.material-symbols-outlined {
    color: white;
    font-size: 48px
}

.lista {
    list-style-type: none;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    gap: 5em;
    padding: 1em;
}



.lista li img {
    width: 300px;
    height: 444px;
}

.pesquisa {

    min-height: 100vh;
}

.ficha {
    margin: 50px;
}
.ficha img {
    margin: 0 3em 2em 0;
}

.ficha-descricao {
    display: flex;
}

.ficha-descricao div {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.episodios-lista {
    height: 25vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    list-style-type: none;
}



@media screen and (max-width: 900px) {

    .ficha-descricao,
    .episodios-lista {
        display: block;
    }
}

@media screen and (max-width: 1600px) {
    .lista {
        overflow: hidden;
        overflow-x: scroll;
    }


}