@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
:root{
    font-family: "Lexend";
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(4, 6, 95, 0.25);
    border-radius: 40px;
    transition: 0.2s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(41, 4, 110, 0.5);
  }
  
* {
    font-family: "Lexend";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

.dropdown-select {
    width: 30%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 40px; 
    line-height: 20px; 
    font-size: 16px;
    color: #62717a;
    text-shadow: 0 1px white;
    background: #f2f2f2;
  }

  .section{

    padding: 20px;
    margin: 20px;
    & img{
        border-radius: 15px;
        box-shadow: 0px 0px 10px 10px rgba(43, 10, 190, 295);
        transition: 0.5s;
        &:hover{
            box-shadow: 0px 0px 10px 10px rgba(0, 17, 255, 295);
        }
    }
  }